.quizContainer {
  display: flex;
  margin-top: 100px;
  padding-left: 75px;
  padding-right: 75px;
  // background-color: #FFFFFF;
  border-radius: 5px;
}

.listQuizzes {
  display: flex;
  margin-left: 100px;
}


.quizCategory {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
}


.startQuizModal {
  background: hsla(206, 85%, 61%, 1);
  background: radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, hsla(234, 100%, 83%, 1) 87%);
  background: -moz-radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, hsla(234, 100%, 83%, 1) 87%);
  background: -webkit-radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, hsla(234, 100%, 83%, 1) 87%);
}

.startQuizModal> div {
  color: #FFFFFF;
  background: #47a7f0;
  background: radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, hsla(234, 100%, 83%, 1) 87%);
  background: -moz-radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, hsla(234, 100%, 83%, 1) 87%);
  background: -webkit-radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, hsla(234, 100%, 83%, 1) 87%);
}