.card {
  width: 240px !important;
  border-radius: 25px;
  padding: 10px !important;
  transition: 0.5s;
}

.card:hover {
  background: #58abe9;
  color: #FFFFFF;
}

.card:hover>.text {
  color: #FFFFFF
}