.card {
  width: 240px;
  border-radius: 25px;
  padding: 10px;
  // min-height: 20rem;
  // max-height: 20rem;
  transition: 0.5s;
}

.card:hover {
  background: hsla(206, 85%, 61%, 1);
  background: radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, hsla(234, 100%, 83%, 1) 87%);
  background: -moz-radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, hsla(234, 100%, 83%, 1) 87%);
  background: -webkit-radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, hsla(234, 100%, 83%, 1) 87%);
  color: #FFFFFF;
}

.card>.ant-card-body:hover {
  color: #FFFFFF
}