.inputWrapper {
  border: 0px;
  border-bottom: 1px solid;
}

.inputWrapper:hover {
  border-bottom-color: #06a7c3;
  -webkit-box-shadow: 0 8px 6px -6px #06a7c3;
  -moz-box-shadow: 0 8px 6px -6px #06a7c3;
  box-shadow: 0 8px 6px -6px #06a7c3;
}
