.header {
  position: 'fixed';
  z-index: 1;
  width: 'auto';
  align-items: center;
  color: #000;
  // background: var(--primary-color);
  padding: 0px;
  margin: 0px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin-right: 250px;
  border: none;
  
  background-color: rgba(255, 255, 255, 0);
}

.user_menu {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  ;
  color: #FFFFFF;
}


.logo {
  margin-top: 20px;
}

.logo > img {
  border-radius: 5px;
}



:global {
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    color: #ffff;
    // text-decoration: underline;
    background-color: var(--primary-color);
    border-radius: 5px;
  }
}
