.btnPrev {
  height: 3rem;
  width: 15rem;
  border-radius: 10px;
  background-color: #58abe9;
  color: #FFFFFF;
}

.btnNext {
  height: 3rem;
  width: 15rem;
  border-radius: 10px;
  background-color: #0077F7;
  color: #FFFFFF;
}

.btnOptions {
  border-radius: 20px;
  margin-bottom: 50px;
  padding-left: 50px;
  width: 50rem;
  min-height: 50px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: normal;

  font-size: 18px;
}

.btnOptionsLinked {
  .btnOptions;

  color: #FFFFFF;
  background: var(--gradient)
}

.btnOptions:hover {
  color: #FFFFFF;
  background: #47a7f0;
  background: var(--gradient)
}





:global {
  .finishedModal {
    top: 20px;
    height: 500px !important;
    background: #47a7f0;
    color: #FFFF !important;
  }

  .finishedModal>div {
    color: #FFFFFF;
    background: linear-gradient(to top, #0077F7, #58abe9);
  }


  .col-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .rate-quiz {
    height: 100px !important;
  }

  .btn-rate-quiz {
    margin-right: 40px !important;
  }

  .performance-left {
    margin-right: 5px;
  }

  .performance-right {
    margin-left: 5px;
  }

  .text-modal {
    color: #FFFF !important;
  }

  .summary-row {
    margin-top: 20px;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
  }

  .summary-row>.ant-row>.ant-col {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .btn-finished-quiz {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #0077F7;
    border-color: #FFFF;
    color: #FFFF;
  }

  .btn-finished-quiz:hover {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #288bf4;
    border-color: #FFFF;
    color: #FFFF;
  }

}