// .main {
//   position: relative;
//   z-index: 1;
//   height: 100vh;
//   width: 100%;
//   background: hsla(206, 85%, 61%, 1);
//   background: radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, hsla(234, 100%, 83%, 1) 87%);
//   background: -moz-radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, hsla(234, 100%, 83%, 1) 87%);
//   background: -webkit-radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, hsla(234, 100%, 83%, 1) 87%);
// }

// .container {
//   background-color: #FFFFFF;
//   border-radius: 20px;
//   padding: 20px;
// }

.btnPrev {
  height: 3rem;
  width: 15rem;
  border-radius: 10px;
  background-color: #47a7f0;
  color: #FFFFFF;
}

.btnNext {
  height: 3rem;
  width: 15rem;
  border-radius: 10px;
  background-color: #a8b1ff;
  color: #FFFFFF;
}

.btnOptions {
  border-radius: 20px;
  margin-bottom: 50px;
  padding-left: 50px;
  width: 50rem;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btnOptionsLinked {
  .btnOptions;

  color: #FFFFFF;
  background: radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, #a8b1ff 87%);
  background: -moz-radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, hsla(234, 100%, 83%, 1) 87%);
  background: -webkit-radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, hsla(234, 100%, 83%, 1) 87%);

}

.btnOptions:hover {
  color: #FFFFFF;
  background: #47a7f0;
  background: radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, #a8b1ff 87%);
  background: -moz-radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, hsla(234, 100%, 83%, 1) 87%);
  background: -webkit-radial-gradient(circle, hsla(206, 85%, 61%, 1) 0%, hsla(234, 100%, 83%, 1) 87%);
}