:root {
  --primary-color: #47a7f0;
  --primary-color-hover: #47a7f0db;
  --gradient: linear-gradient(to right, #47A7F0, #58abe9, #0077F7);
}

:global {

  body {
    // font-family: 'Inter 400', sans;
  }

  * {
    box-sizing: border-box;
  }

  .ant-form {
    width: 23rem;
  }

  .ant-form-item-control-input-content {
    height: 100%;
  }

  .ant-form-item-explain-error {
    // color: var(--primary-color);
    font-weight: bold;
  }

  .ant-input-affix-wrapper-focused {
    border-color: var(--primary-color) !important;
  }

  .ant-input-affix-wrapper-focused>.ant-input-suffix {
    color: var(--primary-color);
  }
}
