@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:global {
  #container {
    height: 100vh;
    font-family: Roboto, sans-serif;
  }

  .ant-form {
    width: 23rem;
  }
}
