// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans&display=swap');

:global {

  * {
    box-sizing: border-box;
  }

  #container {
    height: 100vh;
    font-family: Roboto, sans-serif;
  }

  .ant-form {
    width: 23rem;
  }

  .btn-main {
    background-color: #06a7c3 !important;
    border-color: #06a7c3 !important;
    color: #FFF !important;
  }

  .btn-main:hover {
    background-color: #06c6e8 !important;
    border-color: #06c6e8 !important;
  }

  .btn-text {
    color: #06a7c3 !important;
  }

  .btn-text:hover {
    color: #06c6e8 !important;
  }

  .ant-form-item-control-input-content {
    height: 100%;
  }
}